@charset "UTF-8";

@font-face {
  font-family: "HYRuiYiSongW";
  src: url("HYRuiYiSongW.woff2") format("woff2"),
       url("HYRuiYiSongW.woff") format("woff"),
       url("HYRuiYiSongW.ttf") format("truetype"),
       url("HYRuiYiSongW.eot") format("embedded-opentype"),
       url("HYRuiYiSongW.svg") format("svg"),
       url("HYRuiYiSongW.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}